#backButton {
    margin-top: 1rem;
    display: none;
}
body {
    background-color: #0d1117 !important;
    color: #c9d1d9 !important;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    gap: 2rem;
    align-items: flex-start;
}
.contrib-item {
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 8px;
}
.contrib-item:hover {
    background: #21262d;
}
.contributor-card {
    background: #0d1117;
    border: 1px solid #30363d;
    border-radius: 10px;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}
.contributor-card:hover {
    background: #21262d;
    transform: translateY(-3px);
}
.contributor-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    border: 1px solid #58a6ff;
}
.contributor-commits {
    font-size: 0.75rem;
    color: #8b949e;
}
.contributor-username {
    font-weight: 600;
    color: #c9d1d9;
    font-size: 0.9rem;
}
.contributors {
    margin-top: 2rem;
    background: #161b22;
    padding: 1rem;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;
}
.profile {
    display: none;
    background: #161b22;
    border-radius: 20px;
    padding: 2rem;
    text-align: center;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}
.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 1px solid lime;
}
.repos-wrapper {
    flex: 1;
}
.repos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
}
.repo {
    border-radius: 20px;
    padding: 1rem;
    border: 1px solid #58a6ff;
    cursor: pointer;
}
#readme {
    background-color:transparent !important;
}
.readme-box {
    padding: 20px;
    border-radius: 6px;
    max-height: 600px;
    overflow-y: auto;
}
